# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build
dist/
build/
.vercel

# Upload files
public/uploads/*
!public/uploads/.gitkeep

# Temp files
.tmp/
.temp/
